@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 300 900;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  block-size: 100%;
  font-style: italic;
  vertical-align: middle;
  object-fit: cover;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --blue: hsl(228, 45%, 44%);
  --ff-base: 'Figtree', sans-serif;
  --radius: 1.25em;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: var(--ff-base);
  background-color: var(--yellow);
}

.card {
  margin-top: 9.755em;
  inline-size: clamp(20.4375rem, 87.2vw, 24rem);
  padding: 1.4em 1.45em 1.45em;
  display: grid;
  gap: 1.5em;
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: var(--radius);
  box-shadow: 8px 8px var(--gray-950);
}

.card__image {
  --radius: .625em;
  block-size: 12.55rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.card__content {
  span {
    --radius: .34em;
    padding: .5em 1em;
    display: inline-block;
    font-size: .75rem;
    font-weight: 800;
    background-color: var(--yellow);
    color: var(--gray-950);
    border-radius: var(--radius);

    +p {
      margin-top: 1em;
      font-size: .75rem;
      font-weight: 500;
    }
  }

  h1 {
    margin-top: .75em;
    font-size: 1.25rem;
    font-weight: 800;

    a {
      transition: all .2s ease-in-out;

      &:hover,
      &:focus-visible {
        color: var(--yellow);
        text-shadow: 0 0 .5px var(--gray-950);
        outline: none;
      }
    }

  }

  p {
    margin-top: 1.05em;
    font-size: .875rem;
    font-weight: 500;
    color: var(--gray-500);
    line-height: 1.5;
  }
}

.card__footer {
  display: flex;
  align-items: center;
  gap: .72em;

  img {
    inline-size: 2rem;
    block-size: 2rem;
  }

  p {
    font-size: .875rem;
    font-weight: 800;
  }
}

.attribution {
  padding: 3em 0 1em;
  font-size: .75rem;

  a {
    margin-inline: .3em;
    font-weight: 800;
    position: relative;

    &::after {
      content: '';
      inline-size: 100%;
      block-size: .15em;
      background-color: currentColor;
      transition: all .3s ease-in-out;
      position: absolute;
      bottom: -.1rem;
      right: 0;
    }

    &:hover::after,
    &:focus-visible::after {
      inline-size: 0;
    }

    &:focus-visible {
      outline: 2px dotted var(--gray-950);
      outline-offset: 2px;

    }
  }
}